/* THEME */
$dark-theme: false !default;

// Content
$line-height: 0.55em;
$font-weight: 400px;
$horizontalMarginContent: 15px;
$actualBackgroundColor: #f1f1f1;
$actualFontTitleColor: #f1f1f1;
// Post
$postBackgroundColor: #fefefe;
$postTitleColor: #323e3c;
$postSubtitleColor: #e74c43;
$postContentColor: #716c6d;
$commentColor: #9b9a98;

$postFooterPadding: 25px;
$postDateCircleSize: 75px;
$iconSize: 16px;
$iconMargin: 5px;

@if $dark-theme {
    $actualBackgroundColor: darken($actualBackgroundColor, 80%);
    $postBackgroundColor: darken($postBackgroundColor, 80%);
    $postTitleColor: lighten($postTitleColor, 80%);
    $postContentColor: lighten($postContentColor, 80%);
    $postContentColor: lighten($postContentColor, 80%);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: $line-height;
    font-weight: $font-weight + 50;
    background-color: $actualBackgroundColor;
}

.post {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 400px;
    background-color: $postBackgroundColor;
    box-shadow: 0px 0px 0em rgb(87, 87, 87);
    transition: box-shadow 0.5s;
    margin: 10px;
    &-container {
        display: flex;
        flex-flow: row wrap;
    }
    &-date {
        position: absolute;
        overflow: visible;
        top: 10px;
        right: 10px;
        z-index: 1;
        text-align: center;
        width: $postDateCircleSize;
        height: $postDateCircleSize;
        border-radius: 50%;
        display: inline-block;
        background-color: $postSubtitleColor;
        line-height: $line-height - 0.15em;

        p {
            position: relative;
            font: {
                size: large;
                weight: bold;
            }
            color: $actualFontTitleColor;
        }
    }
    &-title {
        // Position
        position: absolute;
        top: 0;
        h1 {
            top: 0;
            color: $postTitleColor;
        }
        h2 {
            color: $postSubtitleColor;
            line-height: $line-height * 1;
            font: {
                size: x-large;
                stretch: condensed;
            }
        }
        h1, h2 {
            margin-left: $horizontalMarginContent + 10px;
        }
    }
    &-picture {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        &-1 {
            background: {
                image: url('img/catPic.webp');
                repeat: no-repeat;
                position: center;
            }
            transition: opacity 0.5s;
            transition: all 0.5s;
        }
    }
    &-preview {
        position: relative;
        bottom: 0;
        margin: {
            left: $horizontalMarginContent + 10px;
            right: $horizontalMarginContent + 10px;
        }
        font-size: large;
        line-height: $line-height * 2.5;
        opacity: 0;
        color: $postContentColor;
        transition: all 0.5s;
        transition: opacity 0.5s;
    }
    &-content
    {
        background-color: $postBackgroundColor;
        position: relative;
        overflow: visible;
        bottom: 0;
        margin-top: 0px;
        width: 100%;
        height: 300px;
        transition: margin-top 0.5s;
    }
    &-photo {
        position: relative;
        z-index: 1;
        width: 25%;
        p {
            position: absolute;
            height: 30px;
            width: 100%;
            padding: {
                top: 20px;
                left: 10px;
            }
            margin-top: -45px;
            font-size: large;
            font-weight: bold;
            color: $actualFontTitleColor;
            background-color: $postSubtitleColor;
        }
    }
    &-footer {
        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
        margin: {
            top: 50px;
            left: $horizontalMarginContent;
            bottom: -15px;
            right: 0px;
        }
        padding: {
            top: 4px + $postFooterPadding;
            bottom: $postFooterPadding;
            left: 10px;
            right: 0px;
        }
        background-color: $postBackgroundColor;
        @extend .post-container;

        &-element {
            @extend .post-container;
            p {
                margin: 0 {
                    left: $iconMargin;
                    right: 2 * $iconMargin;
                }
                padding: 0;
                color: $commentColor;
            }
            &-time, &-comment {
                width: $iconSize;
                height: $iconSize;
                margin: 0 {
                    top: -4px;
                }
                padding: 0;
                background-repeat: no-repeat;
                @if $dark-theme {
                    filter: brightness(20%);
                }
            }
            &-time {
                background-image: url('img/time.png');
            }
            &-comment {
                background-image: url('img/comments.png');
            }
        }
    }
    &:hover {
        box-shadow: 0px 0px 1em black;
        .post {
            &-content {
                margin-top: -121px;
            }
            &-picture-1 {
                opacity: 0.2;
                transform: scale(1.1);
            }
            &-preview {
                opacity: 1.0;
            }
        }
    }
}
