body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0.55em;
  font-weight: 450px;
  background-color: #f1f1f1;
}

.post {
  width: 350px;
  height: 400px;
  background-color: #fefefe;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0em rgb(87, 87, 87);
  transition: box-shadow 0.5s;
}
.post-date {
  position: absolute;
  z-index: 1;
  overflow: visible;
  top: 10px;
  right: 10px;
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e74c43;
}
.post-date p {
  font-size: large;
  font-weight: bold;
  color: #f1f1f1;
}
.post-picture {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.post-picture-1 {
  background-image: url("img/catPic.webp");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s;
  transition: all 0.5s;
}
.post-title {
  position: absolute;
  top: 0;
}
.post-title h1, .post-title h2 {
  margin-left: 25px;
}
.post-title h1 {
  top: 0;
  color: #323e3c;
}
.post-title h2 {
  color: #e74c43;
  line-height: 0.55em;
  font-size: x-large;
  font-stretch: condensed;
}
.post-preview {
  position: relative;
  height: 10px;
  margin-left: 25px;
  margin-right: 25px;
  bottom: 0;
  font-size: large;
  line-height: 1.375em;
  transition: all 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  color: #716c6d;
}
.post-content {
  position: relative;
  overflow: visible;
  bottom: 0;
  width: 100%;
  margin-top: -1px;
  height: 300px;
  transition: margin-top 0.5s;
  background-color: #fefefe;
}
.post-photo {
  position: relative;
  z-index: 1;
  width: 25%;
}
.post-photo p {
  font-size: large;
  font-weight: bold;
  color: #f1f1f1;
  position: absolute;
  height: 30px;
  width: 100%;
  background-color: #e74c43;
  padding-top: 20px;
  margin-top: -45px;
  padding-left: 10px;
}
.post-footer {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: -15px;
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
}
.post-footer-element {
  display: flex;
  flex-flow: row wrap;
}
.post-footer-element p {
  margin: 0;
  margin-left: 5px;
  margin-right: 10px;
  padding: 0;
  color: #9b9a98;
}
.post-footer-element-time, .post-footer-element-comment {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: -4px;
  padding: 0;
  background-repeat: no-repeat;
}
.post-footer-element-time {
  background-image: url("img/time.png");
}
.post-footer-element-comment {
  background-image: url("img/comments.png");
}
.post:hover {
  box-shadow: 0px 0px 1em black;
}
.post:hover .post-content {
  margin-top: -121px;
}
.post:hover .post-picture-1 {
  opacity: 0.2;
  transform: scale(1.1);
}
.post:hover .post-preview {
  opacity: 1;
}