// Content
$line-height: 0.55em;
$font-weight: 400px;
// Post
$postBackgroundColor: #fefefe;
$postTitleColor: #323e3c;
$postSubtitleColor: #e74c43;
$postContentColor: #716c6d;
$commentColor: #9b9a98;
$iconSize: 16px;
$iconMargin: 5px;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: $line-height;
    font-weight: $font-weight + 50;
    background-color: #f1f1f1;
}

.post {
    width: 350px;
    height: 400px;
    background-color: $postBackgroundColor;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0em rgb(87, 87, 87);
    transition: box-shadow 0.5s;
    &-date {
        position: absolute;
        z-index: 1;
        overflow: visible;
        top: 10px;
        right: 10px;
        text-align: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        display: inline-block;
        background-color: $postSubtitleColor;
        p {
            font-size: large;
            font-weight: bold;
            color: #f1f1f1;
        }
    }
    &-picture {
        width: 100%;
        height: 250px;
        position: relative;
        overflow: hidden;
        &-1 {
            background: {
                image: url('img/catPic.webp');
                repeat: no-repeat;
                position: center;
            }
            transition: opacity 0.5s;
            transition: all 0.5s;
        }
    }
    &-title {
        position: absolute;
        top: 0;
        h1, h2 {
            margin-left: 25px;
        }
        h1 {
            top: 0;
            color: $postTitleColor;
        }
        h2 {
            color: $postSubtitleColor;
            line-height: $line-height * 1;
            font-size: x-large;
            font-stretch: condensed;
        }
    }
    &-preview {
        position: relative;
        height: 10px;
        margin-left: 25px;
        margin-right: 25px;
        bottom: 0;
        font-size: large;
        line-height: $line-height * 2.5;
        transition: all 0.5s;
        transition: opacity 0.5s;
        opacity: 0;
        color: $postContentColor;
    }
    &-content
    {
        position: relative;
        overflow: visible;
        bottom: 0;
        width: 100%;
        margin-top: -1px;
        height: 300px;
        transition: margin-top 0.5s;
        background-color: $postBackgroundColor;
    }
    &-photo {
        position: relative;
        z-index: 1;
        width: 25%;
        p {
            font-size: large;
            font-weight: bold;
            color: #f1f1f1;
            position: absolute;
            height: 30px;
            width: 100%;
            background-color: $postSubtitleColor;
            padding-top: 20px;
            margin-top: -45px;
            padding-left: 10px;
        }
    }
    &-footer {
        display: flex;
        flex-direction: row;
        height: 20px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 50px;
        margin-left: 15px;
        margin-bottom: -15px;
        padding-top: 4px + 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        position: absolute;
        bottom: 0;
        background-color: $postBackgroundColor;
        &-element {
            display: flex;
            flex-flow: row wrap;
            p {
                margin: 0;
                margin-left: $iconMargin;
                margin-right: 2 * $iconMargin;
                padding: 0;
                color: $commentColor;
            }
            &-time, &-comment {
                width: $iconSize;
                height: $iconSize;
                margin: 0;
                margin-top: -4px;
                padding: 0;
                background-repeat: no-repeat;
            }
            &-time {
                background-image: url('img/time.png');
            }
            &-comment {
                background-image: url('img/comments.png');
            }
        }
    }
    &:hover {
        box-shadow: 0px 0px 1em black;
        .post {
            &-content {
                margin-top: -121px;
            }
            &-picture-1 {
                opacity: 0.2;
                transform: scale(1.1);
            }
            &-preview {
                opacity: 1.0;
            }
        }
    }
}
