/* Parent selector */
.alert {
    // The parent selector can be used to add pseudo-classes to the outer
    // selector.
    &:hover {
        font-weight: bold;
    }

    // It can also be used to style the outer selector in a certain context, such
    // as a body set to use a right-to-left language.
    [dir=rtl] & {
        margin-left: 0;
        margin-right: 10px;
    }

    // You can even use it as an argument to pseudo-class selectors.
    :not(&) {
        opacity: 0.8;
    }
}
/* SassScript Parent selector */
@mixin app-background($color) {
    #{if(&, '&.app-background', '.app-background')} {
        background-color: $color;
        color: rgba(#fff, 0.75);
    }
    }

    @include app-background(#036);

    .sidebar {
    @include app-background(#c6538c);
}
/* Suffixes */
/*
You can also use the parent selector to add extra suffixes to the outer selector. This is particularly useful when using a methodology like BEM that uses highly
structured class names. As long as the outer selector ends with an alphanumeric name (like class, ID, and element selectors), you can use the parent selector
to append additional text.
*/
.accordion {
    max-width: 600px;
    margin: 4rem auto;
    width: 90%;
    font-family: "Raleway", sans-serif;
    background: #f4f4f4;

    &__copy {
        display: none;
        padding: 1rem 1.5rem 2rem 1.5rem;
        color: gray;
        line-height: 1.6;
        font-size: 14px;
        font-weight: 500;

        &--open {
        display: block;
        }
    }
}
/* Nesting */
.enlarge {
    font-size: 14px;
    transition: {
        property: font-size;
        duration: 4s;
        delay: 2s;
    }

    &:hover { font-size: 36px; }
}
.info-page {
    margin: auto {
        bottom: 10px;
        top: 2px;
    }
}
/* Advanced Nesting */
/*
.wrapper input.field {
  
}

.wrapper select.field {
  
}
*/
@use "sass:selector";

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

.wrapper .field {
  @include unify-parent("input") {
    /* ... */
  }
  @include unify-parent("select") {
    /* ... */
  }
}
/* Hidden declarations */
$rounded-corners: false;
.button {
    border: 1px solid black;
    border-radius: if($rounded-corners, 5px, null);
}
/* Custom Properties */
/*
CSS custom properties, also known as CSS variables, have an unusual declaration syntax: they allow almost any text at all in their declaration values.
What’s more, those values are accessible to JavaScript, so any value might potentially be relevant to the user. This includes values that would normally
be parsed as SassScript.

Because of this, Sass parses custom property declarations differently than other property declarations. All tokens, including those that look like SassScript,
are passed through to CSS as-is. The only exception is interpolation, which is the only way to inject dynamic values into a custom property.
*/
$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;

:root {
    --primary: #{$primary};
    --accent: #{$accent};
    --warn: #{$warn};

    // Even though this looks like a Sass variable, it's valid CSS so it's not
    // evaluated.
    --consumed-by-js: $primary;
}
/*
Unfortunately, interpolation removes quotes from strings, which makes it difficult to use quoted strings as values for custom properties when they come from
Sass variables. As a workaround, you can use the meta.inspect() function to preserve the quotes.
*/
@use "sass:meta";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas;

:root {
    --font-family-sans-serif: #{meta.inspect($font-family-sans-serif)};
    --font-family-monospace: #{meta.inspect($font-family-monospace)};
}
/* Nested selector */
.foo {
    background: orange;
    p {
        color: blue;
        font-size: 14px;
        font-weight: bold;
    }
}
/* Selector Lists */
.alert, .warning {
    ul, p {
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 0;
    }
}
/* Selector Combinators */
ul > {
    li {
        list-style-type: none;
    }
}
h2 {
    + p {
        border-top: 1px solid gray;
    }
}
p {
    ~ {
        span {
            opacity: 0.8;
        }
    }
}
/* Interpolation */
@mixin define-emoji($name, $glyph) {
    span.emoji-#{$name} {
        font-family: IconFont;
        font-variant: normal;
        font-weight: normal;
        content: $glyph;
    }
}
@include define-emoji("women-holding-hands", "👭");
/* Property Interpolation */
@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}
.gray {
    @include prefix(filter, grayscale(50%), moz webkit);
}
/* Placeholder */
/*
.action-buttons, .reset-buttons {
  box-sizing: border-box;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 16px 0;
  width: 100%;
}
.action-buttons:hover, .reset-buttons:hover {
  border: 2px rgba(0, 0, 0, 0.5) solid;
}

.action-buttons {
  color: #4285f4;
}

.reset-buttons {
  color: #cddc39;
}
*/
%toolbelt {
    box-sizing: border-box;
    border-top: 1px rgba(#000, .12) solid;
    padding: 16px 0;
    width: 100%;

    &:hover { border: 2px rgba(#000, .5) solid; }
}

.action-buttons {
    @extend %toolbelt;
    color: #4285f4;
}

.reset-buttons {
    @extend %toolbelt;
    color: #cddc39;
}
/* Variable */
.circle {
    $size: 100px;
    width: $size;
    height: $size;
    border-radius: $size * 0.5;
}
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
.alert {
    border: 1px solid $border-dark;
}
/* Modules *
/*
Variables defined with !default can be configured when loading a module with the @use rule. Sass libraries often use !default variables to allow their users
to configure the library’s CSS.

To load a module with configuration, write @use <url> with (<variable>: <value>, <variable>: <value>). The configured values will override the variables’
default values. Only variables written at the top level of the stylesheet with a !default flag can be configured.
*/
// _library.scss
$black: #000 !default;
$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

code {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
// style.scss
@use 'library' with (
  $black: #222,
  $border-radius: 0.1rem
);
/* Built-in Variables*/
@use "sass:math" as math;

// This assignment will fail.
math.$pi: 0;
/* Shadowing */
/*
Local variables can even be declared with the same name as a global variable. If this happens, there are actually two different variables with the same name:
one local and one global. This helps ensure that an author writing a local variable doesn’t accidentally change the value of a global variable they aren’t even
aware of.
*/
$variable: global value;

.content {
  $variable: local value;
  value: $variable;
}

.sidebar {
  value: $variable;
}
/*
If you need to set a global variable’s value from within a local scope (such as in a mixin), you can use the !global flag. A variable declaration flagged
as !global will always assign to the global scope.
*/
$variable: first global value;

.content {
  $variable: second global value !global;
  value: $variable;
}

.sidebar {
  value: $variable;
}
/* Flow Control Scope */
$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

@if $dark-theme {
  $primary-color: darken($primary-color, 60%);
  $accent-color: lighten($accent-color, 60%);
}

.button {
  background-color: $primary-color;
  border: 1px solid $accent-color;
  border-radius: 3px;
}
/* Advanced Variable Functions */
@use "sass:map";

$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

.alert {
  // Instead of $theme-color-#{warning}
  background-color: map.get($theme-colors, "warning");
}